<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.countryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name=".application.CountryApplication"
        android:allowBackup="true"
        android:icon="@drawable/earth"
        android:label="CountryApp"
        android:largeHeap="true"
        android:roundIcon="@drawable/earth"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CountryApp">

        <activity
            android:name=".mainActivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>